* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 96px;
    max-width: 1604px;
    width: 100%;
    height: 2380px;
    margin: 140px auto;
    background-color: #E4EBFF;
}

.main {
    max-width: 1280px;
    width: 100%;
    height: 2152px;
    padding: 96px 0;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.title {
    width: 1216px;
    height: 136px;
    margin: 0 32px;
}

.heading {
    width: 930px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.heading>div {
    color: #6941C6;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

h1 {
    color: #181D27;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin-top: 12px;
}

.title>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #535862;
}

.container {
    max-width: 1280px;
    width: 100%;
    height: 512px;
    padding: 0 32px;
    margin: 96px 0; 
}

.content {
    display: inline-block;
    width: 553px;
    height: 334px;
    vertical-align: middle;
}

.icon-text {
    width: 553px;
    height: 178px;
    margin-bottom: 32px;
}

.icon {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}

.content-head {
    width: 553px;
    height: 110px;
}

h2 {
    color: #181D27;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 16px;
}

.sup-text {
    color: #535862;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content-body {
    width: 553px;
    height: 124px;
    padding-left: 16px;
}

.check-item {
    width: 537px;
    height: 28px;
    margin-bottom: 20px;
}

.check {
    margin-right: 12px;
    vertical-align: middle;
}

.display {
    display: inline-block;
    width: 400px;
    height: 28px;
    vertical-align: middle;
}

.stats {
    width: 590px;
    height: 502px;
    vertical-align: middle;
}

.left {
   margin-left: 101px;
}

.right {
    margin-right: 101px;
}

#first-cont {
    padding-right: 0;
}

.pad-right {
    padding-right: 0;
}

.pad-left {
    padding-left: 0;
}